@import "tailwindcss";

@theme inline {
  --color-mtm-main-blue: #6bb4ff;
  --color-mtm-light-blue: #edf6ff;
  --color-mtm-light-gray: #d9d9d9;
  --color-mtm-text-gray: #9c9c9c;
  --color-mtm-button-disabled: #d5d5d5;
  --color-mtm-google-signin-gray: #acacac;
  --color-mtm-github-black: #1a1e24;
  --color-mtm-purple: #ad5fff;
  --color-mtm-light-purple: #f8f2ff;
  --color-mtm-black: #000000;
}

.backface-hidden {
  backface-visibility: hidden;
}

@layer utilities {
  @keyframes spinner-rotate {
    100% { transform: rotate(360deg); }
  }

  @keyframes spinner-dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  .animate-spinner-rotate {
    animation: spinner-rotate 2s linear infinite;
  }

  .animate-spinner-dash {
    animation: spinner-dash 1.5s ease-in-out infinite;
  }
}
