@import "tailwindcss";

@theme inline {
  --color-mtm-main-blue: #6bb4ff;
  --color-mtm-light-blue: #edf6ff;
  --color-mtm-light-gray: #d9d9d9;
  --color-mtm-text-gray: #9c9c9c;
  --color-mtm-button-disabled: #d5d5d5;
}

.backface-hidden {
  backface-visibility: hidden;
}
